*{
     margin: 0px 0px;
    padding: 0px;
    top:0px ;
}

.header{
    position: relative ;
    display: flex;
    height: 80px;
    bottom: 100%;
    background-color: rgb(105, 177, 199) ;
}

.auth{
    position: absolute;
    right:20px;
    top: 20px;
    display: flex;
    align-items: center;
} 

.btn{
    margin: 0px 12px;
}

.logo{
    position: absolute;
    left: 20px;
    top: 15px;
}

main{
    margin: 20px 150px
}
.user-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin:  10px 30px;
    width: 30%;
}
.center{
    position: relative;
    display: flex;
    justify-content: center;

}

.card-img-top{
    max-width: 300px ;
    max-height: 190px;
}

.ct{


}

#logo-link {
  text-decoration: none;
  color:black;
}

#logo-link:hover {
  color:black;
}

.regologo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

#reg-form, #log-form {
  min-width: 400px; 
  margin: 20px 0;
}

#reg-form .btn, #log-form .btn{
  margin: 0;
  margin-top: 20px;
}

.hello {
  margin: 0 20px 0 0;
  color: black;
}

.alert {
  margin: 20px 0;
}
